agm-map {
  height: 100%;
}

.fixed-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: blue;
    height: 50px;
    padding: 10px;

    input {
      padding: 6px 8px;
      font-size: 1rem;
      border-radius: 4px;
    }

    button {
        background: #1b138b;
        padding: 6px 18px;
        font-size: 1rem;
        border-radius: 15px;
        color: #fff;

        &:hover {
          background: #3b33cb;
        }
    }
}
