<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="coords.lat" [longitude]="coords.lng" [zoom]="16">
  <agm-marker
    *ngFor="let item of markers; let i = index; trackBy: trackByFn"
    [latitude]="item.lat" [longitude]="item.lng"></agm-marker>
</agm-map>

<div class="fixed-panel">
  <input #query type="text" placeholder="Category">
  <input #radius type="number" placeholder="Radius">
  <button (click)="getInfo(query.value, radius.value)">Get Info</button>
  <input #city type="text" placeholder="City">
  <button (click)="heatMap(city.value)">Heatmap</button>
  <button (click)="topFive()">Top Five!</button>
</div>
