@import './app/styles/_reset';
@import './app/styles/_viewports';

html, body {
  height: 100%;
}

body {
  @include viewports(tiny) { background: red; }
  @include viewports(small) { background: green; }
  @include viewports(medium) { background: pink; }
  @include viewports(large) { background: violet; }
}
